/* цвет основного текста #757575 */
/* вторичный цвет текста   #212121 */
/* цвет контактов в футере rgba(255, 255, 255, 0.60) */
/* белый цвет #FFFFFF */
/* черный цвет лого в хедере  #000000 */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* третий цвет фона #2F303A */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: #ffffff;
}
.link {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  line-height: 1.17;
}

/* Container */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

/* лого */
.header {
  border-bottom: 1px solid rgb(236, 236, 236);
}
.header-logo {
  margin-right: 93px;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.header-logo .header-logo-second {
  color: #000000;
}

/* header*/
.header-menu {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-list-nav {
  display: flex;
}
.header-list-nav .header-item:not(:last-child) {
  margin-right: 50px;
}
.header-list-nav .header-link {
  display: block;

  color: var(--secondary-text-color);

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.header-link {
  position: relative;
}
.header-link.current::after {
  content: "";
  position: absolute;
  display: block;
  background-color:  #2196F3;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  top: 52px;
  right: 0;
}
.header-list-nav .header-link:hover,
.header-list-nav .header-link:focus {
  color: var(--accent-color);
  
}
.header-list-nav .current {
  color: var(--accent-color);
}
.header-contact-list {
  display: flex;
  margin-left: auto;
}

.header-contact-list .item {
  display: flex;
  align-items: center;
  margin-right: 50px; 
}


.header-contact-list .item:last-child {
  margin-right: 0;
}



.icon-mail,
.icon-mobile {
  margin-right: 10px;
  fill: currentColor;
}

.header-mail-link,
.header-tel-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}


.header-contact-list .link:hover,
.header-contact-list .link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;

  text-align: center;
  background-color: #2F303A;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(..//images/main/bg.jpg);

   
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
}
.hero .hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: #fff;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;

  text-transform: uppercase;
  /*  background-color: #949393;   времено установил фон для визуализации потом удалю */
}
button.hero-button {
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #ffffff;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  text-align: center;

  cursor: pointer;
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);




  width: 528px;
  min-height: 581px;
  padding: 30px;

  background-color: #FFFFFF;

  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);


}

.close {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: rgb(255, 255, 255);
  cursor: pointer;
  padding: 10px

}
 
.close:before, .close:after {
  content: ""; 
  position: absolute; 
  top: 13px;
  right: 5px;
  
  width: 18px; height: 2px; 
  background: #000000;}
.close:before {transform: rotate(45deg);}
.close:after {transform: rotate(-45deg);}

/* studio */

.hidden-title {
  display: none;
}
.studio {
  padding: 94px 0 47px 0;
}
.studio-list {
  display: flex;
}
.studio-list .item {
  display: block;
  width: 270px;
  margin-right: 30px;
}
.studio-list .item:last-child {
  margin-right: 0;
}
.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  min-height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  fill: var(--secondary-text-color);
}

.studio-list .studio-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.studio .studio-text {
  font-size: 14px;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  margin: 0;
}
/* work */
.work {
  padding: 47px 0 94px 0;
}
.work .work-title {
  margin-top: 0;
  margin-bottom: 50px;
}
.work .work-list {
  display: flex;
  justify-content: center;
}
.work .work-list .item:not(:last-child) {
  display: block;
  margin-right: 30px;
}
.work-list .item {
  position: relative;
}
.work-list .item .descr-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #2F303A;
  opacity: 0.8;
}

.descr-block .descr {
  padding: 27px 0;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 0.87;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

/* team */
.team {
  padding: 94px 0;
  background-color: #f5f4fa;
}
.team .team-title {
  margin-top: 0;
  margin-bottom: 50px;
}
.team .team-list {
  display: flex;
  justify-content: center;
}


.team .team-list .item {
  margin-right: 30px;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
   background: rgb(255, 255, 255);
}

.team .team-list .item:last-child{
  margin-right: 0;
}


/* .team .team-img {
    margin-bottom: 30px;
} */

.team .team-subtitle {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team .team-descr {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-bottom: 16px;
}
.team .team-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-list {
    display: flex;
    justify-content: center;
}

.social-item:not(:last-child) {
    margin-right: 10px;
}
.social-link {
    display: inline-flex;
    padding: 12px;
    color: #AFB1B8;  
    border-radius: 50px;


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.icon-social {
    fill: currentColor;
}

.social-link:hover {
    
    border-radius: 50px;
    background-color: var(--accent-color);
    color: #ffffff;

}
/* clients */

.clients {
    padding: 94px 0;
}

.client-title {
    text-align: center;
    margin-bottom: 50px;
}
 
.clients-list {
    display: flex;
    justify-content: space-between;
}

.client-link {
    display: inline-flex;
    justify-content: center;
    align-items:center;
    width: 170px;
    height: 92px;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-client {
    fill: currentColor;
    
}
.client-link:hover {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* footer */
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.footer-blocks {
  display: flex;
}
.footer-social {
  padding-top: 12px;
}

.contact-info {
  margin-right: 70px;
}

.footer .footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.footer .footer-logo-second {
  color: #ffffff;
}
.footer address {
  font-style: normal;
  color: #ffffff;
  margin-bottom: 9px;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contact-list .link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.74; /* 171.429% */
  letter-spacing: 0.42px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* background-color: #949393;   */
  /* времено установил фон для визуализации потом удвлю */
}
.footer-contact-list .link:hover,
.footer-contact-list .link:focus {
  color: var(--accent-color);
}

.footer-list {
  display: flex;
}
.footer-item:not(:last-child) {
  margin-right: 10px;
  justify-content: center;
}
.footer-social-link {
  display:inline-flex;
  padding: 12px;
  fill:#FFFFFF;
  background-color:  rgba(255, 255, 255, 0.1);
  border-radius: 50px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover{
  background-color: var(--accent-color);
}
.footer-subheader {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
}

/* portfolio - nav */
.portfolio {
  padding: 94px 0 94px 0;
}
.portfolio .portfolio-nav-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.portfolio .portfolio-nav-list .item {
  margin-right: 8px;
}

.portfolio button {
  padding: 6px 22px;

  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.4px;
  background-color: #f5f4fa;
  cursor: pointer;

  border: 1px solid transparent;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.portfolio button:hover,
.portfolio button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background: rgb(33, 150, 243);
}
.portfolio .portfolio-project-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio .portfolio-project-list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  
  border-top: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio .portfolio-project-list .item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),0px 4px 4px 0px rgba(0, 0, 0, 0.06),0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
}


.portfolio .portfolio-project-list .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio .portfolio-project-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-link {
  display: inline-block;
  padding: 20px 24px;
}

.portfolio .portfolio-title {
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}
.portfolio .portfolio-text {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.48px;
}

.portfolio-project-block {
  position: relative;
  overflow: hidden;
}

.portfolio-project-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(+294px);
  opacity: 0.9;

  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio .portfolio-project-list .item:hover .portfolio-project-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
  background-color: var(--accent-color);
  transform: translateY(0);

}

.portfolio-project-text {
  padding: 63px 24px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 1.08px;
  text-align: center;
}